# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Log files
# scripts/*.log

# Sublime files
*.sublime*

# Background files
# background/*

# Raw data files
data/raw/*.xlsx

background/Silberbach DRAFT BDP Prj Agmnt MM DD YY\.docx

background/v66b05\.pdf

background/v70i06\.pdf

background/v70i06\.R

PrintValveGroup AnonymyzedData - Shortcut\.lnk

scripts/names\.csv
